.modal {
  max-width: 980px !important;
  height: 976px !important;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: var(--oi-spacing-l);
  margin-bottom: var(--oi-spacing-m);
}

.search {
  flex: 1 1 auto;
}

.nameCell {
  font-weight: var(--oi-text-body-s-strong-font-weight);
  color: var(--oi-content-color-primary);
}

.table {
  border-left: var(--oi-border-width-default) var(--oi-border-style-solid) var(--oi-border-color-muted);
  border-right: var(--oi-border-width-default) var(--oi-border-style-solid) var(--oi-border-color-muted);
}

.paginationRow {
  display: flex;
  justify-content: center;
  width: 100%;
}
